body{
    background-image: url(flags.jpeg);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: right top;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.footer{
    /* position: relative; */
    bottom: 0;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}

#box{
    background-color:red;
    width: 50%;
    height: 20%;
    position: absolute;
    left: 0;
    opacity: 0.8;
}

